@use 'reset';
@use 'variaveis';

body {
    background-color: variaveis.$corDeFundo;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header{
    backdrop-filter: blur(8px);

    nav li  {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: bold;

        &:hover{
            background-color: variaveis.$corSecundaria;
            border-radius: 7px;
        }
    }
    
        a{
            color: variaveis.$cordoTextoHeader;
            margin: 0 5px;
        }
    }

ul.nav.nav-pills{
    margin-left: 550px;
}

.nav-pills .nav-link{
    color: variaveis.$corDoTexto;
}

.sobre{

    .img-filme{
        width: 1300px;
        text-align: center;
        margin-top: 10px;
        border-radius: 10px;
        align-items: center;
    }

    h1{
        color: variaveis.$corSecundaria;
        text-align: center;
        margin-top: 40px;
        font-size: 50px;
    }

    p{
        color: variaveis.$corDoTexto;
        text-align: center;
        width: 1300px;
        margin-left: 150px;
        font-size: 20px;
    }
}

.trailer{

    h1{
        color: variaveis.$corSecundaria;
        text-align: center;
        margin-top: 120px;
        font-size: 40px;
    }

    .video-trailer {
        width: 1000px;
        height: 600px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
}

.bilheteria {
    margin-bottom: 90px;

    h1{
        color: variaveis.$corSecundaria;
        margin-bottom: 40px;
        margin-top: 50px;
    }

    p{
        color: variaveis.$corDoTexto;
        text-align: center;
        width: 1300px;
        margin-left: 150px;
        font-size: 20px;
    }
}