@use 'reset';
@use 'variaveis';

body {
    background-color: variaveis.$corDeFundo;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header{
    backdrop-filter: blur(8px);
    }


    nav li  {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: bold;

        &:hover{
            background-color: variaveis.$corSecundaria;
            border-radius: 7px;
        }

        @media (max-width: 768px) {
            width: 100%;
            margin: 0 auto;
            font-size: 18px;
        }
    }

    a{
        color: variaveis.$cordoTextoHeader;
        margin: 0 5px;
    }

ul.nav.nav-pills{
    margin-left: 550px;

    @media (max-width: 768px) {
        margin: 0 auto;
    }
}

.nav-pills .nav-link{
    color: variaveis.$corDoTexto;
}

.sobre{

    .img-filme{
        width: 1300px;
        text-align: center;
        margin-top: 10px;
        border-radius: 10px;
        align-items: center;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    h1{
        color: variaveis.$corSecundaria;
        text-align: center;
        margin-top: 40px;
        font-size: 50px;

        @media (max-width: 768px) {
            font-size: 40px;
        }
    }

    p{
        color: variaveis.$corDoTexto;
        text-align: center;
        width: 1300px;
        margin-left: 150px;
        font-size: 20px;

        @media (max-width: 768px) {
            width: 100%;
            font-size: 18px;
            margin: 0 auto;
        }
    }
}

.trailer{

    h1{
        color: variaveis.$corSecundaria;
        text-align: center;
        margin-top: 120px;
        font-size: 40px;
    }

    .video-trailer {
        width: 1000px;
        height: 600px;
        margin-top: 40px;
        margin-bottom: 50px;

        @media (max-width: 768px) {
            width: 100%;
            max-width: 400px;
            height: 250px;
        }
    }
}

.bilheteria {
    margin-bottom: 90px;

    h1{
        color: variaveis.$corSecundaria;
        margin-bottom: 40px;
        margin-top: 50px;

        @media (max-width: 768px) {
            font-size: 30px;
    }
}
    p{
        color: variaveis.$corDoTexto;
        text-align: center;
        width: 1300px;
        margin-left: 150px;
        font-size: 20px;
    
        @media (max-width: 768px) {
            width: 100%;
            margin: 0 auto;
        }
    }
}

